*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    height: 6rem;
}

.container-fluid .logo{
    font-weight: 500;
    margin-left: 2rem;
    font-size: 2.3rem;
}

.container-fluid{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

.container-fluid span{
    color: #09cc7f;
}

.nav-item{
    padding: 0 17px;
}

.s2{
    font-family: 'Poppins', sans-serif;
    height: 105vh;
}

#title h1{
    position: relative;
    margin-top: 11rem;
    margin-left: 6rem;
    font-size: 65px;
    color: #002d5b;
}

#title p{
    margin-left: 6rem;
    margin-top: 2rem;
    color: #464d65;
}

#title .btn{
    margin-top: 2rem;
    margin-left: 6rem;
    width: 175px;
    height: 50px;
    color: #09cc7f;
    border-color: #09cc7f;
    font-size: 1.1rem;
}

#title .btn:hover{
    background-color: #09cc7f;
    color: #fff;
}

#title .col-lg-6 img{
    width: 45%;
    height: 90%;
    border-radius: 75% 15% 15% 75%;
    position: absolute;
    margin-left: 4rem;
}

#features{
    display: grid;
    align-items: center;
    background-color: #fff;
    padding: 4.5% 7%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

.feature-box img{
    width: 8rem;
    height: 8rem;
}

.icon{
    margin-bottom: 3rem;
}

.feature-title p{
    padding: 1rem;
}

.row h4{
    padding: 7.5rem;
    margin-top: 2rem;
    color: #09cc7f;
    font-family: 'Quicksand', sans-serif;
}

#about h2{
    font-family: 'Poppins', sans-serif;
    color: #002d5b;
    width: 70%;
}

#about p{
    width: 70%;
    margin-top: 2rem;
    margin-left: 7.2rem;
}

#about .col-lg-6 .about-img-1{
    width: 80%;
    height: 80%;
    margin: 4.5rem;
    position: relative;
}

#details{
    padding: 7rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #09cc7f;
}

#details .btn{
    border-color: #002d5b;
    color: #002d5b;
    height: 3rem;
    width: 8rem;
    font-size: 1.2rem;
    margin-left: -8rem;
    z-index: 100;
    position: relative;
    background-color: #002d5b;
    color: #fff;
    margin-bottom: 0.25rem;
}

#details input{
    height: 3rem;
    padding: 10px 20px;
    border: 1px solid #002d5b;
    border-radius: 5px;
    width: 360px;
    position: relative;
    z-index: 5;
    margin-left: 2.2rem;
}

#details .socials{
    margin-top: 0.2rem;
}

#details i{
    color: #464d65;
    padding: 15px;
    margin-right: 1rem;
    cursor: pointer;
}

#details i:hover{
    color: #09cc7f;
}

#footer p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}

@media only screen and (max-width:992px){
    
    .container-fluid .logo{
        margin-left: 2.5rem;
    }

    .navbar{
        width: 134%;
    }

    .top button{
        margin-right: 1rem;
    }

    .row{
        width: 120%;
    }
    
    .nav-item a{
        text-align: right;
    }

    #title .col-lg-6 img{
        visibility: hidden;
        display: none;
    }

    #title h1{
        margin-top: 9rem;
        font-size: 50px;
        width: 100%;
        margin-left: 4.5rem;
    }

    #title p{
        width: 100%;
        margin-left: 4.5rem;
    }

    #title .btn{
        margin-left: 4.5rem;
    }


    #features{
        margin-left: 8rem;
        margin-top: -10rem;
    }

    #features h3{
        margin-left: -1.4rem;
        width: 125%;
    }

    #features p{
        margin-left: -1.4rem;
        width: 125%;
    }

    .feature-box img{
        margin-top: 5rem;
    }

    #about .col-lg-6 .about-img-1{
        margin-top: 6rem;
        height: 65%;
        margin-left: 5.5rem;
    }

    #about h4{
        margin-top: -8rem;
    }

    #about p{
        margin-bottom: 5rem;
    }

    #details{
        padding: 5rem;
        margin-top: -1rem;
        width: 125%;
    }
    
    #details h2{
        text-align: center;
        margin-bottom: 2rem;
    }

    #details input{
        margin-left: -1rem;
        margin-bottom: 2rem;
    }

    #details .btn{
        margin-left: 0.5rem;
        margin-bottom: 2rem;
    }

    #details .socials{
        margin-left: 1.2rem;
    }

    footer p{
        width: 110%;
    }
}
